*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navCon{
    height: 10vh;
    background-color: rgb(255, 76, 76);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoCon{
    display: flex;
    align-items: center;
}

.logoImg{
    height: 20px;
    width: 20px;
    object-fit: cover;
}

.logoText{
    color: white;
    margin-left: 5px;
}