*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navCon{
    height: 10vh;
    background-color: rgb(255, 76, 76);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoCon{
    display: flex;
    align-items: center;
}

.logoImg{
    height: 20px;
    width: 20px;
    object-fit: cover;
}

.logoText{
    color: white;
    margin-left: 5px;
}

.cardCon{
    width: 100%;
}

.card{
    height: 40vw;
    margin: 20px;
    display: flex;
}

.left{
    width: 30%;
    height: 100%;
}

.right {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftInner{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftInner img{
    height: 80%;
    width: 80%;
    object-fit: cover;
    border-radius: 10px;
}

.rightInner {
    height: 80%;
    width: 100%;
    background-color: black;
}